<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BetHistory</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- other head elements -->
</head>
<body>

<mat-card class="bet-history-container">
  <mat-card-content>
    <div class="filter-section">
      <mat-form-field appearance="outline">
        <mat-label>Sport</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of sportsOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getHistory()">Get History</button>
    </div>
    <div class="table-responsive">
      <mat-table [dataSource]="bets" class="mat-elevation-z8">
        <!-- Table headers for larger screens -->
        <ng-container matColumnDef="teamName">
          <mat-header-cell *matHeaderCellDef class="blue-text"> Team Name </mat-header-cell>
          <mat-cell *matCellDef="let bet" data-header="Team Name"> {{bet.teamName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef class="blue-text"> Type </mat-header-cell>
          <mat-cell *matCellDef="let bet" data-header="Type"> {{bet.betType}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef class="blue-text"> Amount </mat-header-cell>
          <mat-cell *matCellDef="let bet" data-header="Amount"> {{bet.amount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="odds">
          <mat-header-cell *matHeaderCellDef class="blue-text"> Odds </mat-header-cell>
          <mat-cell *matCellDef="let bet" data-header="Odds"> {{bet.odd}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="blue-text"> Status </mat-header-cell>
          <mat-cell *matCellDef="let bet" data-header="Status"> {{bet.status}} </mat-cell>
        </ng-container>
        <!-- Row template -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
</body>
</html>
