.bet-history-container {
  width: 100%;
  margin: 20px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

mat-form-field {
  flex: 1 1 ;
  margin-right: 20px;
}

button {
  flex: 0 1 auto;
  margin-top: 10px;
}

.table-responsive {
  overflow-x: auto;
  margin-top: 20px;
}

.blue-text {
  color: #3f51b5; /* Consistent with Material Design primary color */
}

@media screen and (max-width: 768px), screen and (max-width: 480px) {
  .filter-section {
    flex-direction: column;
  }

  mat-form-field, button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .table-responsive {
    margin-bottom: 16px;
  }

  .blue-text {
    font-size: 12px;
  }

  /* Ensure headers are not hidden */
  .mat-header-row {
    display: table-row;
  }

  .data-row {
    display: table-row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; /* Remove padding to keep rows consistent */
  }

  .mat-cell, .mat-header-cell {
    display: table-cell;
    padding: 8px;
    text-align: left;
  }
}

.mat-elevation-z8 {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 
              0px 1px 10px rgba(0, 0, 0, 0.12);
}

:host {
  display: block;
  margin-top: 20px; /* Default margin for larger screens */
}

.mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #3f51b5;
}

.mat-card-content {
  padding: 20px;
}

.mat-card {
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.mat-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.mat-card-header {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
}

