<div class="password-change-container">
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="currentPassword">Current Password</label>
      <input id="currentPassword" type="password" formControlName="currentPassword" required />
    </div>
    <div>
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password" formControlName="newPassword" required />
    </div>
    <div>
      <label for="confirmPassword">Confirm New Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" required />
    </div>
    <button type="submit"  >Change Password</button>
  </form>
</div>
