<mat-card class="profit-loss-container">
  <mat-card-header>
    <mat-card-title>Account Profit and Loss</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="filter-container">
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" placeholder="Start Date" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" placeholder="End Date" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="loadProfitLoss()">Filter</button>
    </div>
    <div class="table-responsive">
      <mat-table [dataSource]="profitLoss" class="mat-elevation-z8">
        <!-- Table headers for profit and loss -->
        <ng-container matColumnDef="profitLoss">
          <mat-header-cell *matHeaderCellDef class="header-text"> Amount</mat-header-cell>
          <mat-cell *matCellDef="let pl" data-header="Match Name"> {{pl.amount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="finalBalance">
          <mat-header-cell *matHeaderCellDef class="header-text"> Balance </mat-header-cell>
          <mat-cell *matCellDef="let pl" [ngClass]="{'profit': pl.balanceAfterTransaction > 0, 'loss': pl.balanceAfterTransaction < 0}" data-header="Profit/Loss"> {{pl.balanceAfterTransaction | currency}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="remark">
          <mat-header-cell *matHeaderCellDef class="header-text"> Remark </mat-header-cell>
          <mat-cell *matCellDef="let pl" data-header="Remark"> {{pl.remark}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="transactionDate">
          <mat-header-cell *matHeaderCellDef class="header-text"> Transaction Date </mat-header-cell>
          <mat-cell *matCellDef="let pl" data-header="Transaction Date"> {{pl.transactionDate | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="transactionType">
          <mat-header-cell *matHeaderCellDef class="header-text"> Transaction Type </mat-header-cell>
          <mat-cell *matCellDef="let pl" data-header="Transaction Type"> {{pl.transactionType}} </mat-cell>
        </ng-container>
        <!-- Row template -->
        <mat-header-row *matHeaderRowDef="profitLossColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: profitLossColumns;" class="data-row"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
