<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Service List</h4>
            <p class="card-category">Services provided by us</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            xyz
                        </td>
                        <td>
                            1kg
                        </td>
                        <td>
                            500rs
                        </td>

                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                          xyz
                      </td>
                      <td>
                          1kg
                      </td>
                      <td>
                          500rs
                      </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                          xyz
                      </td>
                      <td>
                          1kg
                      </td>
                      <td>
                          500rs
                      </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                          xyz
                      </td>
                      <td>
                          1kg
                      </td>
                      <td>
                          500rs
                      </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                          xyz
                      </td>
                      <td>
                          1kg
                      </td>
                      <td>
                          500rs
                      </td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>
                          xyz
                      </td>
                      <td>
                          1kg
                      </td>
                      <td>
                          500rs
                      </td>
                    </tr>
                </tbody>
                </table>
               </div>

             </div>
        </div>
      </div>
    </div>
   </div>
 </div>
