.cricket-odds {
    border: 1px solid #eaeaea; /* Softer border color */
    padding: 20px;
    max-width: 600px; /* Increased width for better layout */
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9; /* Lighter and softer background */
    border-radius: 10px; /* More rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05); /* Softer shadow for depth */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Enhanced typography for better readability */
.team-label, .session-label, .score-update, .team-overs, .team-score {
    color: #333; /* Darker text for better contrast */
    line-height: 1.5; /* Improved line spacing */
}

.favorite-odds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 15px 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.team-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.back-odds,
.lay-odds {
    color: #007BFF;
    margin: 5px;
}


/* Styles for the left-half and right-half sections */
.left-half,
.right-half {
    font-size: 8px;
    flex: 1;
    text-align: bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.team-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.team-label,
.team-overs,
.team-score {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Styles for the team scores and overs */
.team-overs,
.team-score {
    font-size: 12px;
    white-space: nowrap;
}

.bottom {
    display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.left-half,
.match-info {
  flex: 1; /* Allows each section to take up equal space, adjust as needed */
  text-align: left; /* Aligns text to the left for the left-half, adjust if necessary */
  color: #333; /* Sets text color to black */
  font-weight: bold; /* Makes text bold */
  padding: 0 10px; /* Padding for internal spacing */
}

.score-update, .team-overs, .team-score, .crr, .final-result-text {
    font-size: 18px; /* Slightly smaller font size for details */
    font-weight: 500; /* Medium weight */
}

.team-label, .session-label {
  font-size: 18px;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 5px;
}

.team-label, .session-label, .score-update, .team-overs, .team-score, .crr, .final-result-text {
    color: #34495e; /* Deep, professional text color */
    line-height: 1.4;
    margin: 5px 0; /* Uniform margin for clean spacing */
}

.ball {
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.back-odds-button {
    background-color: lightseagreen;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.lay-odds-button {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-odds-button:hover, .lay-odds-button:hover {
  opacity: 0.9;
}

.favorite-odds {
    display: flex;
    align-items: center;
}

.odds-buttons {
    display: flex;
    gap: 10px;
    /* Adjust the space between buttons as needed */
    margin-left: auto;
}

.back-odds-button,
.lay-odds-button {
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 16px; /* Larger font size for readability */
    border-radius: 20px; /* Rounded corners for a modern look */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.back-odds-button:hover, .lay-odds-button:hover {
    opacity: 0.9; /* Slight opacity change on hover */
}
.odds-buttons button[disabled] {
    opacity: 0.5; /* Dim disabled buttons for clarity */
    cursor: not-allowed;
}

.lay-active {
    background-color: lightcoral !important; /* Change this to your desired lighter tone color */
    /* Add any other styles you want for the active state */
  }

.live-score {
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    background-color: #e0c5c5;
    color: white;
    /* Set your preferred background color */
    border: none;
    /* Add a border for a rectangular appearance */
    padding: 15px 0;
    /* Add padding to the content inside the rectangle */
    border-radius: 8px;
    /* Add rounded corners for a softer appearance */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}

.score-update {
    font-size: 30px; /* Larger font size for score update */
    font-weight: bold; /* Bold font for emphasis */
    color: #d9534f; /* Attention-grabbing color */
    margin-bottom: 15px; /* Additional spacing */
    margin: 0;
    padding: 10px 0;

}

/* Adjusting the team name, score, and overs for clarity */
.team-label, .team-score, .team-overs {
    font-size: 18px; /* Slightly larger font size */
    margin: 5px 0; /* Adjust margin for spacing */
    font-weight: normal; /* Regular font weight for a cleaner look */
}

.team-score, .team-overs {
    font-weight: bold; /* Bold font weight for these elements */
}



/* Styles for the first "favorite odds" section */
.favorite-odds.team-section {
    background-color: #f0f0f0;
    margin-top: 25px;
}

/* Enhance visibility of team details */
.left-half, .right-half {
  font-size: 16px;
  text-align: left;
  color: #333;
  font-weight: bold;
  padding: 0 10px;
}

/* Styles for the second "favorite odds" section */
.favorite-odds.session-section {
    background-color: #f0f0f0;
}

/* Styles for the team labels */
.team-label,
.session-label {
    font-weight: bold;
}

/* Styles for the odds buttons (adjust as needed) */
.odds-buttons {
    display: flex;
    justify-content: center;
    margin-left: auto;
    gap: 15px;
}

.odds-buttons button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.odds-buttons button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.odds-buttons button {
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Custom CSS class for betting options */
.betting-options {
    font-weight: bold; /* Bold font for buttons */
    background-color: #3f51b5; /* Match the Back button's color */
    background-color: rgba(63, 81, 181, 0.9); /* Adjust the opacity to make it lighter */
    padding: 10px;
    border-radius: 5px;
    color: white; /* Text color for contrast */
    display: flex; /* Use flexbox to align children in a row */
    align-items: center; /* Align items vertically in the center */
    justify-content: space-around; /* Distribute space evenly around items */
    flex-wrap: wrap; /* Allow items to wrap as needed */
    gap: 10px; /* Add a gap between items for spacing */
  }

  .betting-options input,
  .betting-options button {
      flex: 1; /* Allow inputs and buttons to grow and fill available space */
      margin: 0 5px; /* Add some margin for spacing */
      padding: 5px 10px; /* Adjust padding for better appearance */
      border-radius: 4px; /* Rounded corners for inputs and buttons */
  }

  /* Ensure buttons are identifiable and not overly stretched */
.betting-options button {
    white-space: nowrap; /* Prevent button text from wrapping */
    padding: 8px 12px; /* Adjust padding for buttons */
}
  
  .betting-options input[type="number"] {
    max-width: 100px; /* Limit width of number inputs to keep the UI tidy */
}


.betting-options label {
    display: block; /* Make labels block level for better alignment */
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
}


/* Style the Place Bet button with a different background color */
.betting-options button.place-bet {
    background-color: #4caf50; /* Green color for the Place Bet button */
  }

  .match-info {
    text-align: right; /* Align text to the right for the right-half section */
    font-size: 17px; /* Adjust font size as needed */

  }
  
  
  /* Style the Cancel button with a different background color */
  .betting-options button.cancel-bet {
    background-color: #f44336; /* Red background for the "Cancel" button */
  }

  .suspension-label {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Transparent black background */
    color: red;
    padding: 4px 8px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .last-6-balls {
    margin-top: 20px; /* Space from the content above */
    padding: 15px;
    background-color: #e7e7e7; /* Softer background for form */
    color: #333;
    border-radius: 8px; /* Rounded corners */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.ball {
    width: 40px; /* Slightly larger for visibility */
    height: 40px;
    line-height: 40px; /* Vertically center the text */
    font-size: 16px; /* Larger font for visibility */
    margin: 0 16px; /* Space between balls */
    background-color: #32bbe3f2; /* Consistent with the back odds button */
    color: white; /* White text for contrast */
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add additional styling as per your design */
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


  .live-match-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cricket-odds-container {
    flex: 3; /* Adjust this value based on your layout needs */
    margin-right: 20px; /* Adds some space between the sections */
  }
  
  
  .user-bets-container {
    flex: 1; /* Adjust this value based on your layout needs */
    padding: 20px;
    background-color: #f2f2f2; /* Light grey background for visual distinction */
    border-radius: 10px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow */
    max-height: 600px; /* Optional: limits the height of the bets container */
    overflow-y: auto; /* Optional: adds scroll for overflow */
  }
  
  .user-bets-container h3 {
    color: #333; /* Dark text for the title */
    margin-bottom: 15px;
  }
  
  .user-bets {
    max-width: 400px; /* or any other width */
    margin: auto; /* centers the card */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for elegance */
  }
  
  .mat-card-header {
    background-color: #1976d2; /* example blue */
    color: white;
  }
  
  .mat-card-title {
    font-size: 20px;
  }
  
  

  

  


  .user-bets .mat-table {
    width: 100%;
    overflow: auto;
  }
  
  .user-bets th.mat-header-cell, .user-bets td.mat-cell {
    text-align: left;
    padding: 8px; /* Adjust padding as needed */
  }
  
  .user-bets th {
    font-weight: bold;
  }
  
  .user-bets td {
    font-size: 14px; /* Smaller font for compact look */
  }





  .overall-win-loss {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    align-items: center;
  }

  .overall-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .win-label, .loss-label {
    font-weight: 500;
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .win-amount {
    color: #28a745;
    font-size: 22px;
    font-weight: bold;
  }
  
  .loss-amount {
    color: #dc3545;
    font-size: 22px;
    font-weight: bold;
  }

  /* Responsive adjustments for .favorite-odds */
.favorite-odds {
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  justify-content: center; /* Center align items on smaller screens */
  padding: 10px;
}

.favorite-odds .odds-buttons {
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
/* Responsive adjustments for .betting-options */
.betting-options {
  flex-direction: column; /* Stack elements vertically on smaller screens */
  align-items: flex-start; /* Align items to the start on smaller screens */
  width: 100%;
  padding: 10px 0;
}

.betting-options input, .betting-options button {
  width: 100%; /* Full width on smaller screens */
  max-width: none; /* Remove max-width */
  margin: 5px 0; /* Adjust margins for better spacing */
}

.live-match-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: space-between;
  margin-top: 20px;
}

.cricket-odds-container {
  flex: 1 1 100%; /* Full width on smaller screens */
  margin: 10px 0; /* Adjust margin */
}

@media (max-width: 768px) {
  .cricket-odds-container, .user-bets-container {
      flex: 1 1 100%;
      margin: 0;
      max-width: -webkit-fill-available;
  }

  .score-update {
      font-size: 24px;
  }

  .team-label, .session-label, .team-overs, .team-score {
      font-size: 14px;
  }

  .overall-win-loss {
      flex-direction: column;
  }

  .overall-item {
      width: 100%;
      margin-bottom: 10px;
  }

  .favorite-odds .odds-buttons {
      flex-direction: row;
      justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .cricket-odds-container, .user-bets-container {
    flex: 1 1 100%;
    margin: 0;
    max-width: -webkit-fill-available;
}

  .score-update {
      font-size: 18px;
  }

  .team-label, .session-label, .team-overs, .team-score {
      font-size: 12px;
  }

  .favorite-odds {
      flex-direction: column;
      align-items: center;
  }

  .favorite-odds .team-label {
      font-size: 16px;
  }

  .betting-options {
      padding: 10px 0;
  }

  .last-6-balls .ball {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
  }
}
