<div class="courses-panel" style="margin-top: 170px;">
  <mat-card>
    <mat-card-header class="mat-card-header-danger">
      <mat-card-title>LIVE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isBetProcessing" class="loader-container">
        <div class="loader"></div>
        <!-- Optional: Add text like 'Confirming bet...' -->
      </div>
      <div class="live-match-container">
        <div class="cricket-odds-container">
          <div class="cricket-odds">
            <!-- Live Score Update -->
            <div class="live-score">
              <div class="score-update">{{ liveScoreUpdate }}</div>
              <div class="bottom">
                <div class="left-half">
                  <div class="team-label">{{ team1Name }}</div>
                  <div class="team-score">{{ team1Score }}</div>
                  <div class="team-overs">{{ team1Overs }}</div>
                </div>
                <div class="match-info">
                  <!-- Displaying CRR and final result text -->
                  <div class="crr">CRR: {{ currentRunRate }}</div>
                  <div class="final-result-text">{{ finalResultTextValue }}</div>
                </div>
              </div>
            </div>
    
            <!-- Overall Win/Loss Summary -->
            <div class="overall-win-loss" *ngIf="userBets.length > 0">
              <div class="overall-item">
                <span class="win-label">{{ winFormattedKey }}:</span>
                <span class="win-amount">{{ totalPotentialWin | currency }}</span>
              </div>
              <div class="overall-item">
                <span class="loss-label">{{ loseFormattedKey }}:</span>
                <span class="loss-amount">{{ totalPotentialLoss | currency }}</span>
              </div>
            </div>
            
            <!-- Favorite Team Odds -->
            <div *ngIf="!(testMatchOdds && testMatchOdds.length > 0) && favTeam !== '-'">
              <div class="favorite-odds team-section">
                <div class="team-label">{{ favTeam }}</div>
                <div class="odds-buttons">
                  <button mat-raised-button color="primary" [disabled]="liveScoreUpdate === 'Ball Start'"
                    (click)="selectedBetType='back'; showBettingOptions('teamSectionBackOdds')">
                    {{ backOdds }} <ng-container *ngIf="liveScoreUpdate === 'Ball Start'">
                      <div class="suspension-label">SUS</div>
                    </ng-container></button>
                  <button mat-raised-button color="accent" [disabled]="liveScoreUpdate === 'Ball Start'"
                    (click)="toggleLayButton()" (click)="selectedBetType='lay'; showBettingOptions('layOdds')">{{ layOdds }} <ng-container
                      *ngIf="liveScoreUpdate === 'Ball Start'">
                      <div class="suspension-label">SUS</div>
                    </ng-container></button>
                </div>
              </div>
    
              <div class="betting-options" [class.lay-active]="layButtonActive"
                *ngIf="showBetting && (showBettingFor === 'teamSectionBackOdds' || showBettingFor === 'layOdds' )">
                <button mat-button class="cancel-bet" (click)="cancelBet()">Cancel</button>
                <div class="odds-amount">
                  <div class="odds">
                    <label for="odds">Odds:</label>
                    <input type="number" id="odds" (input)="handleOddsInputChange()" (blur)="handleOddsBlur()" [value]="selectedOdds" />
                  </div>
                  <div class="amount">
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" [(ngModel)]="betAmount" />
                  </div>
                </div>
                <div class="quick-stakes">
                  <button *ngFor="let amount of quickStakeAmounts" (click)="setStake(amount)">
                    + {{ amount }}
                  </button>
                </div>
                <button mat-raised-button class="place-bet" color="primary" (click)="placeBet()">Place Bet</button>
              </div>
            </div>
    
            <!-- Test Match Odds -->
            <!-- This section is shown only if it's a test match, i.e., testMatchOdds has values -->
            <div *ngIf="testMatchOdds && testMatchOdds.length">
              <div *ngFor="let match of testMatchOdds; let i = index" class="test-match-odds">
                <div class="favorite-odds team-section">
                  <div class="team-label">{{ match.teamName }}</div>
                  <div class="odds-buttons">
                    <button mat-raised-button color="primary"
                      (click)="showBettingOptionsForTestMatch('testMatchOdds', i, 'back')"
                      [disabled]="liveScoreUpdate === 'Ball Start'">
                      {{ match.odds.backOdds }}
                    </button>
                    <button mat-raised-button color="accent"
                      (click)="showBettingOptionsForTestMatch('testMatchOdds', i, 'lay')"
                      [disabled]="liveScoreUpdate === 'Ball Start'">
                      {{ match.odds.layOdds }}
                    </button>
                  </div>
                </div>
                <!-- Corrected conditional rendering and class binding syntax -->
                <div class="betting-options"
                  *ngIf="showBetting && showBettingFor === 'testMatchOdds' && currentMatchIndex === i"
                  [class.lay-active]="layButtonActive">
                  <button mat-button class="cancel-bet" (click)="cancelBet()">Cancel</button>
                  <div class="odds">
                    <label for="odds{{i}}">Odds:</label>
                    <input type="number" id="odds{{i}}" [(ngModel)]="selectedOdds" />
                  </div>
                  <div class="amount">
                    <label for="amount{{i}}">Amount:</label>
                    <input type="number" id="amount{{i}}" [(ngModel)]="betAmount" />
                  </div>
                  <button mat-raised-button class="place-bet" color="primary" (click)="placeTestBet(match)">Place
                    Bet</button>
                </div>
              </div>
            </div>
    
    
            <!-- Session Odds -->
            <div *ngIf="session !== '-'">
              <div class="favorite-odds session-section">
                <div class="session-label">{{ session }}</div>
                <div class="odds-buttons">
                  <button mat-raised-button color="primary" [disabled]="liveScoreUpdate === 'Ball Start'"
                    (click)="showBettingOptions('sessionBackOdds')">{{ sessionBackOdds }} <ng-container
                      *ngIf="liveScoreUpdate === 'Ball Start'">
                      <div class="suspension-label">SUS</div>
                    </ng-container></button>
                  <button mat-raised-button color="accent" [disabled]="liveScoreUpdate === 'Ball Start'"
                    (click)="toggleLayButton()" (click)="showBettingOptions('sessionLayOdds')">{{ sessionLayOdds }}
                    <ng-container *ngIf="liveScoreUpdate === 'Ball Start'">
                      <div class="suspension-label">SUS</div>
                    </ng-container></button>
                </div>
              </div>
    
              <div class="betting-options" [class.lay-active]="layButtonActive"
                *ngIf="showBetting && (showBettingFor === 'sessionBackOdds' || showBettingFor === 'sessionLayOdds')">
                <button mat-button class="cancel-bet" (click)="cancelBet()">Cancel</button>
                <div class="odds">
                  <label for="odds">Odds:</label>
                  <input type="number" id="odds" (input)="handleOddsInputChange()" (blur)="handleOddsBlur()"
                    [value]="selectedOdds" />
                </div>
                <div class="amount">
                  <label for="amount">Amount:</label>
                  <input type="number" id="amount" [(ngModel)]="betAmount" />
                </div>
                <button mat-raised-button class="place-bet" color="primary" (click)="placeBet()">Place Bet</button>
              </div>
            </div>
    
            <!-- Last 6 Balls -->
            <div class="last-6-balls">
              <div class="ball" *ngFor="let ball of last6Balls">
                <div class="ball-score">{{ ball.score }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="user-bets-container" *ngIf="userBets.length === 0">
          <mat-card class="user-bets">
            <mat-card-header>
              <mat-card-title>No Bets Placed</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>You have not placed any bets for this match.</p>
            </mat-card-content>
          </mat-card>
        </div>
        <mat-card *ngIf="userBets.length > 0" class="user-bets">
          <mat-card-header>
            <mat-card-title>Your Bets for This Match</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-card-content>
              <table mat-table [dataSource]="userBets" class="mat-elevation-z8">
          
                <!-- Bet Team Column -->
                <ng-container matColumnDef="teamName">
                  <th mat-header-cell *matHeaderCellDef> Team </th>
                  <td mat-cell *matCellDef="let bet"> {{bet.teamName}} </td>
                </ng-container>
          
                <!-- Bet Type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let bet"> {{bet.betType}} </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                  <td mat-cell *matCellDef="let bet"> {{bet.amount | currency}} </td>
                </ng-container>
          
                <!-- Odds Column -->
                <ng-container matColumnDef="odd">
                  <th mat-header-cell *matHeaderCellDef> Odds </th>
                  <td mat-cell *matCellDef="let bet"> {{bet.odd}} </td>
                </ng-container>
          
                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let bet"> {{bet.status}} </td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>