<div class="courses-panel" style="margin-top: 170px;">
  <mat-card>
    <mat-card-header class="mat-card-header-danger">
      <mat-card-title>LIVE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isBetProcessing" class="loader-container">
        <div class="loader"></div>
        <!-- Optional: Add text like 'Confirming bet...' -->
      </div>
      <div class="live-match-container">
        <div class="cricket-odds-container">
          <div class="cricket-odds">
            <!-- Live Score Update -->
            <div class="live-score">
              <div class="score-update">{{ liveScoreUpdate }}</div>
              <div class="bottom">
                <div class="left-half">
                  <div class="team-label">{{ team1Name }}</div>
                  <div class="team-score">{{ team1Score }}</div>
                  <div class="team-overs">{{ team1Overs }}</div>
                </div>
                <div class="match-info">
                  <!-- Displaying CRR and final result text -->
                  <div class="crr">CRR: {{ currentRunRate }}</div>
                  <div class="final-result-text">{{ finalResultTextValue }}</div>
                </div>
              </div>
            </div>
    
            <!-- Overall Win/Loss Summary -->
            <div class="overall-win-loss" *ngIf="userBets.length > 0">
              <div class="overall-item">
                <span class="win-label">{{ winFormattedKey }}:</span>
                <span [ngClass]="{'win-amount': totalPotentialWin >= 0, 'loss-amount': totalPotentialWin < 0}">{{
                  totalPotentialWin | currency }}</span>
              </div>
              <div class="overall-item">
                <span class="loss-label">{{ loseFormattedKey }}:</span>
                <span [ngClass]="{'win-amount': totalPotentialLoss >= 0, 'loss-amount': totalPotentialLoss < 0}">{{
                  totalPotentialLoss | currency }}</span>
              </div>
            </div>
            <!-- Session Exposure Summary -->
            <div class="session-exposures" *ngIf="sessionExposures && sessionExposures.length > 0">
              <div class="overall-item" *ngFor="let sessionExposure of sessionExposures">
                <span class="win-label">{{ sessionExposure.name }}:</span>
                <span [ngClass]="{'loss-amount': sessionExposure.amount >= 0, 'loss-amount': sessionExposure.amount < 0}">
                  {{ sessionExposure.amount | currency }}
                </span>
              </div>
            </div>
            
            <!-- Favorite Team Odds -->
            <div *ngIf="!(testMatchOdds && testMatchOdds.length > 0) && favTeam !== '-'">
              <div class="favorite-odds team-section">
                <div class="team-label">{{ favTeam }}</div>
                <div class="odds-buttons">
                  <button mat-raised-button color="primary" [ngClass]="{'non-clickable': !isClickable}">
                    {{ backOdds }}</button>
                  <button mat-raised-button color="accent" [ngClass]="{'non-clickable': !isClickable}">{{ layOdds }}</button>
                </div>
              </div>
    
              <div class="betting-options" [class.lay-active]="layButtonActive"
                *ngIf="showBetting && (showBettingFor === 'teamSectionBackOdds' || showBettingFor === 'layOdds' )">
                <div class="button-row">
                  <button mat-button class="cancel-bet" (click)="cancelBet()">Cancel</button>
                  <button mat-button class="clear-bet" (click)="clearStake()">Clear</button> <!-- Clear button -->
                </div>

                <div class="odds-amount">
                  <div class="odds">
                    <label for="odds">Odds:</label>
                    <input type="number" id="odds" class="disabled-input" readonly (input)="handleOddsInputChange()" (blur)="handleOddsBlur()" [value]="selectedOdds" />
                    <input type="hidden" name="odds" [value]="selectedOdds" />
                  </div>
                  <div class="amount">
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" [(ngModel)]="betAmount" />
                  </div>
                </div>
                <div class="quick-stakes">
                  <button *ngFor="let amount of quickStakeAmounts" (click)="setStake(amount)">
                    + {{ amount }}
                  </button>
                </div>
                <button mat-raised-button class="place-bet" color="primary" (click)="placeBet()">Place Bet</button>
              </div>
            </div>
    
            <!-- Test Match Odds -->
            <!-- This section is shown only if it's a test match, i.e., testMatchOdds has values -->
            <div *ngIf="testMatchOdds && testMatchOdds.length">
              <div *ngFor="let match of testMatchOdds; let i = index" class="test-match-odds">
                <div class="favorite-odds team-section">
                  <div class="team-label">{{ match.teamName }}</div>
                  <div class="odds-buttons">
                    <button mat-raised-button color="primary" [ngClass]="{'non-clickable': !isClickable}">
                      {{ match.odds.backOdds }}
                    </button>
                    <button mat-raised-button color="accent" [ngClass]="{'non-clickable': !isClickable}">
                      {{ match.odds.layOdds }}
                    </button>
                  </div>
                </div>
                <!-- Corrected conditional rendering and class binding syntax -->
                <div class="betting-options"
                  *ngIf="showBetting && showBettingFor === 'testMatchOdds' && currentMatchIndex === i"
                  [class.lay-active]="layButtonActive">
                  <div class="button-row">
                    <button mat-button class="cancel-bet" (click)="cancelBet()">Cancel</button>
                    <button mat-button class="clear-bet" (click)="clearStake()">Clear</button> <!-- Clear button -->
                  </div>

                  <div class="odds">
                    <label for="odds{{i}}">Odds:</label>
                    <input type="number" id="odds{{i}}" class="disabled-input" [(ngModel)]="selectedOdds" readonly/>
                    <input type="hidden" name="odds{{i}}" [value]="selectedOdds" />
                  </div>
                  <div class="amount">
                    <label for="amount{{i}}">Amount:</label>
                    <input type="number" id="amount{{i}}" [(ngModel)]="betAmount" />
                  </div>
                  <button mat-raised-button class="place-bet" color="primary" (click)="placeTestBet(match)">Place
                    Bet</button>
                </div>
              </div>
            </div>
    
    
            <!-- Session Odds -->
            <div *ngIf="session !== '-'">
              <div class="favorite-odds session-section">
                <div class="session-label">{{ session }}</div>
                <div class="odds-buttons">
                  <button mat-raised-button color="primary" [ngClass]="{'non-clickable': !isClickable}">NO {{ sessionBackOdds }}
                  </button>
                  <button mat-raised-button color="accent" [ngClass]="{'non-clickable': !isClickable}">YES {{ sessionLayOdds
                    }}
                  </button>
                </div>
              </div>
    
              <div class="betting-options" [class.lay-active]="layButtonActive"
                *ngIf="showBetting && (showBettingFor === 'sessionBackOdds' || showBettingFor === 'sessionLayOdds')">
                <div class="button-row">
                  <button mat-button class="cancel-bet" (click)="cancelBet()">Cancel</button>
                  <button mat-button class="clear-bet" (click)="clearStake()">Clear</button> <!-- Clear button -->
                </div>

                <div class="odds-amount">
                  <div class="amount">
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" [(ngModel)]="betAmount" />
                  </div>
                </div>
                <div class="quick-stakes">
                  <button *ngFor="let amount of quickStakeAmounts" (click)="setStake(amount)">
                    + {{ amount }}
                  </button>
                </div>
                <button mat-raised-button class="place-bet" color="primary" (click)="placeSessionBet()">Place Bet</button>
              </div>
            </div>
    
            <!-- Last 6 Balls -->
            <div class="last-6-balls">
              <div class="ball" *ngFor="let ball of last6Balls">
                <div class="ball-score">{{ ball.score }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>