<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Fuller</h4>
            <p class="card-category">Fullers working for us to be listed</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="First Name" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" type="text">
                      </mat-form-field>
                    </div>
                    <button mat-mini-fab class="pull-right addServiceButton" >
                      <i class="material-icons">add</i>
                   </button>

                </div>

             </div>
        </div>
      </div>
    </div>
   </div>
 </div>
