
<div class="sidebar-wrapper">

    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-red.png"/>
            </div>
              KRI8TVT
          </a>
    </div>

    <div class="">
        <a class="logo favourite-not-logged">
              Please Login or Join to change favourites.
        </a>
    </div>
    
  <ul class="nav">
      <li *ngFor="let menuItem of results">
          <a class="nav-link" [routerLink]="[menuItem.path]">
              <i class="material-icons">{{menuItem.icon}}</i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
      <li>
        <a class="nav-link">
          <i class="material-icons">live_tv</i>
          <p>Live</p>
    
          <ul>
            <li *ngFor="let matchTeam of matchTeams">
              <a class="nav-link" (click)="sendLinkToBackend(matchTeam.url)">
                <p>{{matchTeam.teamName}}</p>
              </a>
            </li>
          </ul>
        </a>
      </li>
  </ul>
</div>
<button (click)="toggle()" class="sidebar-toggle-button" style="z-index: 1000; position: relative;">
  <i class="material-icons">menu</i>
</button>
