<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="#">Dashboard</a>
    </div>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navigation">
    <!-- some code here  -->
    <form class="navbar-form">
      <div class="input-group no-border top-button" >
        <mat-form-field >
          <input matInput placeholder="Search...">
         </mat-form-field>
         <button mat-mini-fab >
            <i class="material-icons">search</i>
         </button>
      </div>
  </form>
  </div>
</nav>
