<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="#"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <!-- <form class="navbar-form">
        <div class="input-group no-border top-button">
          <mat-form-field>
            <input matInput placeholder="Search...">
          </mat-form-field>
          <button mat-mini-fab>
            <i class="material-icons">search</i>
          </button>
        </div>
      </form> -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="user-info d-flex align-items-center">
            <i class="material-icons icon-large me-2">account_circle</i>
            <div>
              <div class="font-weight-bold">{{user?.username}}</div>
              <div class="d-flex align-items-center">
                <i class="material-icons me-1">account_balance_wallet</i>
                Balance: <span class="ms-1">{{user?.balance | currency}}</span>
              </div>
              <div class="d-flex align-items-center">
                <i class="material-icons me-1">insights</i>
                Exposure: <span class="ms-1">{{user?.exposure | currency}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>