<!-- 
<mat-card class="container">
  <h2>Change Password</h2>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" formControlName="currentPassword">
      <mat-error *ngIf="submitted && f.currentPassword.errors?.required">Current password is required</mat-error>
      <mat-error *ngIf="submitted && f.currentPassword.errors?.invalidPassword">Current password should only contain letters and numbers</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" (input)="checkPasswordStrength()">
      <mat-error *ngIf="submitted && f.newPassword.errors?.required">New password is required</mat-error>
      <mat-error *ngIf="submitted && f.newPassword.errors?.minLength">New password must be at least 8 characters</mat-error>
      <mat-error *ngIf="submitted && f.newPassword.errors?.invalidPassword">New password should only contain letters and numbers</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword">
      <mat-error *ngIf="submitted && f.confirmNewPassword.errors?.required">Confirmation password is required</mat-error>
      <mat-error *ngIf="submitted && f.confirmNewPassword.errors?.passwordsNotMatch">Passwords must match</mat-error>
      <mat-error *ngIf="submitted && f.confirmNewPassword.errors?.invalidPassword">Confirmation password should only contain letters and numbers</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="passwordChangeForm.invalid">Change Password</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
  </form>
</mat-card>
<div class="footer">
  <p>Do you already have an account? <a href="/sign-in">Sign in</a></p>
</div>

 -->


 <mat-card class="container">
  <h2>Change Password</h2>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" formControlName="currentPassword">
      <mat-error *ngIf="submitted && f.currentPassword.errors?.required">Current password is required</mat-error>
      <mat-error *ngIf="submitted && f.currentPassword.errors?.invalidPassword">Current password should only contain letters and numbers</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" (input)="checkPasswordStrength()">
      <mat-error *ngIf="submitted && f.newPassword.errors?.required">New password is required</mat-error>
      <mat-error *ngIf="submitted && f.newPassword.errors?.minLength">New password must be at least 8 characters</mat-error>
      <mat-error *ngIf="f.newPassword.errors?.invalidPassword">New password should only contain letters and numbers</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword">
      <mat-error *ngIf="submitted && f.confirmNewPassword.errors?.required">Confirmation password is required</mat-error>
      <mat-error *ngIf="submitted && f.confirmNewPassword.errors?.passwordsNotMatch">Passwords must match</mat-error>
      <mat-error *ngIf="f.confirmNewPassword.errors?.invalidPassword">Confirmation password should only contain letters and numbers</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="passwordChangeForm.invalid">Change Password</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
  </form>
</mat-card>
<div class="footer">
  <p>Do you already have an account? <a href="/sign-in">Sign in</a></p>
</div>
