<div class="info-container">
  <div class="info-left-wrapper">
    <div>
      <a class="content-wrap s-wrap" style="display: flex; align-items: center; cursor: pointer;" href="#">
        <img width="49px" height="56px" class="s-img" src="https://cricketvectors.akamaized.net/Series/1J3.png?impolicy=default_web" alt="England One Day Cup 2024">
        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
          <div class="s-format">Final</div>
          <div class="s-name">England One Day Cup 2024</div>
        </div>
      </a>
    </div>
    <div class="content-wrap venue-detail">
      <div class="match-date">
        <img src="../../../../assets/icon/calender.svg" alt="series name" width="24px" height="24px" class="mr16">
        <div>Sep 23, 2024, 3:30:00 PM</div>
      </div>
      <div class="match-date match-venue" style="cursor: pointer;">
        <img src="../../../../assets/icon/location.svg" alt="series name" width="24px" height="24px" class="mr16">
        <div>Trent Bridge, Nottingham</div>
      </div>
    </div>
    <div class="content-wrap">
      <div class="team-form">
        <h2 class="title-text">Team Form <span class="last-match-text">(Last 5 matches)</span></h2>
      </div>
      <div class="format-match">
        <div class="form-match-team">
          <img width="40px" height="40px" class="form-team-img" src="https://cricketvectors.akamaized.net/Teams/23.png?impolicy=default_web" alt="GLM">
          <div class="form-team-name">Glamorgan</div>
        </div>
        <div class="flex align-center">
          <div class="d-flex justify-content-center align-item-center">
            <div class="loss match"><span>L</span></div>
            <div class="win match"><span>W</span></div>
            <div class="win match"><span>W</span></div>
            <div class="loss match"><span>L</span></div>
            <div class="win match"><span>W</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>