
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.wrapper{
  position: relative;
  top: 0;
  height: 100vh;
}
.sidebar-wrapper {
  position: relative;
  height: 99.9vh;;
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;

  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .nav {
  margin-top: 20px;
  display: block;
}

.nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}
.nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3C4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  cursor: pointer;
}

.nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.sidebar .nav li a:hover {
  background-color: #f44336;
  color: #fff;

}

.sidebar .nav li a:hover > i {
  color:white;
}

.logo{
  position: relative;
  z-index: 4;
}

.logo-img{
  width: 35px;
  display: block;
  max-height: 30px;
  margin-left: 13px;
  margin-right: 15px;


}

.logo-img img{
  width: 35px;
  top: 16px;
  position: absolute;
}

.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: inline-block;
  font-size: 18px;
  color: #3C4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.sidebar .logo {
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4; }
  .sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
  }

  .main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  -webkit-transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1); }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

    .navbar > .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

    .navbar .navbar-brand {
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 10rem;
    font-weight: 300;
    margin-left: 6rem;

  }
.navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.top-button{
         margin: -34px 250px;
}

.input-group {
    position: relative;
    align-items: stretch;
    width: 100%;
    display: block;
}


.row{

  display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 5px;
    margin-top: 44px 25px;
    margin-top: 50px;

}


.card{
  font-size: .875rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
  margin-top: -500px;
  padding-bottom: 25px;
}
.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
  padding: 0.9375rem 20px;
  position: relative; }

  .card .card-body,
  .card .card-footer {
    padding: 0.9375rem 1.875rem; }
  .card .card-body + .card-footer {
    padding-top: 0rem;
    border: 0;
    border-radius: 6px; }

    .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  border-bottom: none;
    background: transparent;
    z-index:  3 !important;

  }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0; }

    .card .card-header-danger .card-icon,
  .card .card-header-danger .card-text,
  .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger,
  .card.card-rotate.bg-danger .front,
  .card.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #ef5350, #e53935);
       padding: 9px;
       margin-top: -23px;
       color:#fff ;
       border-radius: 6px;
      }

    .card .card-header-danger .card-icon,
  .card .card-header-danger:not(.card-header-icon):not(.card-header-text),
  .card .card-header-danger .card-text {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
            box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); }

    .card [class*="card-header-"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
}
.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

  .addServiceButton {

    margin-left: 305px;
    margin-top: 35px;

  }

  .row button {
    margin-left:105px
  }



