<div class="container">
  <h2 class="header">Matches for you</h2>
  <div class="scroll-wrapper">
    <button class="scroll-button" (click)="scrollLeft()">&#9664;</button>
    <div class="matches-container" #scrollContainer>
      <mat-card class="match-card" *ngFor="let match of liveMatches" (click)="navigateToMatch(match)">
        <div class="match-date">{{ match.date }}</div>
        <div class="match-title">{{ match.title }}</div>
        <div class="match-description">{{ match.description }}</div>
        <div class="teams">
          <div class="team">{{ match.team1 }}</div>
          <div class="vs">vs</div>
          <div class="team">{{ match.team2 }}</div>
      </div>
      </mat-card>
    </div>
    <button class="scroll-button" (click)="scrollRight()">&#9654;</button>
  </div>

    <div class="news-item" (click)="openNews('https://cricket.one/cricket-news/world-cup-was-in-safe-hands-fans-recall-suryakumar-yadavs-iconic-wc-catch-on-his-34th-birthday/66e4ffb4ac94d32b0f02161d')">
      <img src="src/app/home/Screenshot 2024-09-14 115807.png" alt="Suryakumar Iconic Catch" class="news-image" />
      <div class="news-content">
        <h3 class="news-heading">World Cup Was In Safe Hands: Fans Recall Suryakumar Yadav's Iconic WC Catch On His 34th Birthday</h3>
        <p class="news-description">Suryakumar Yadav, popularly known as 'SKY,' has become one of the most decorated and impactful cricketers in recent times, particularly in the T20 format. His journey from the domestic circuit to the international stage has been one of determination, hard work, and pure brilliance. </p>
      </div>
    </div>
 
  <div class="news-item" (click)="openNews('https://cricket.one/cricket-news/india-vs-bangladesh-rohit-sharma-on-the-cusp-of-breaking-virender-sehwags-test-record/66e5359cac94d32b0f021703')">
    <img src="src/app/home/Screenshot 2024-09-14 130517.png" alt="Rohit Sharma Test Record" class="news-image" />
    <div class="news-content">
      <h3 class="news-heading">India Vs Bangladesh: Rohit Sharma On The Cusp Of Breaking Virender Sehwag's Test Record</h3>
      <p class="news-description">Rohit Sharma has been a revelation for Team India, ever-since he was promoted as an opener in 2019. The masterstroke by the captain-coach duo of Virat Kohli and Ravi Shastri paid dividend as in the last 5-years Rohit has arguably been India's best Test batter.</p>
    </div>
  </div>

  <div class="news-item" (click)="openNews('https://cricket.one/cricket-news/on-this-day-in-2007-ms-dhonis-captaincy-era-began-with-indias-thrilling-bowl-out-win-vs-pakistan/66e51c3c36d875014b66c363')">
    <img src="src/app/home/Screenshot 2024-09-14 131957.png" alt="Rohit Sharma Test Record" class="news-image" />
    <div class="news-content">
      <h3 class="news-heading">On This Day In 2007: MS Dhoni's Captaincy Era Began With India's Thrilling Bowl-Out Win Vs Pakistan</h3>
      <p class="news-description">On this day 17 years ago, MS Dhoni led India to one of the most memorable victories in their rich history. Under the captain cool's astute leadership, the Men in Blue pipped their arch-rivals Pakistan, emerging victorious in a tie-breaking bowl-out in the inaugural T20 World Cup edition.</p>
    </div>
  </div>

  <div class="news-item" (click)="openNews('https://cricket.one/cricket-news/india-nears-92-year-old-historic-record-in-test-cricket-ahead-of-1st-test-vs-bangladesh/66e455034fb4f1e9426618b9')">
    <img src="src/app/home/Screenshot 2024-09-14 132538.png" alt="Rohit Sharma Test Record" class="news-image" />
    <div class="news-content">
      <h3 class="news-heading">India Nears 92-Year-Old Historic Record In Test Cricket Ahead Of 1st Test Vs Bangladesh</h3>
      <p class="news-description">The Indian cricket team led by Rohit Sharma can claim a historic record in Chepauk next week. If India wins the first Test against Bangladesh, the team will achieve a positive win-loss ratio for the first time in their 92-year Test history, having more wins than losses in the game's longest format.</p>
    </div>
  </div>
</div>