<div class="container">
  <h2 class="header">Matches for you</h2>
  <div class="scroll-wrapper">
    <button class="scroll-button" (click)="scrollLeft()">&#9664;</button>
    <div class="matches-container" #scrollContainer>
      <mat-card class="match-card" *ngFor="let match of liveMatches" (click)="navigateToMatch(match)">
        <div class="match-date">{{ match.date }}</div>
        <div class="match-title">{{ match.title }}</div>
        <div class="match-description">{{ match.description }}</div>
        <div class="teams">
          <div class="team">{{ match.team1 }}</div>
          <div class="vs">vs</div>
          <div class="team">{{ match.team2 }}</div>
      </div>
      </mat-card>
    </div>
    <button class="scroll-button" (click)="scrollRight()">&#9654;</button>
  </div>
</div>